<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
        <title>Habit Tracker</title>
        <style>
        *{
            margin: 0;
        }
        </style>
    </head>

    <body>
        <div id="header">
             <h1>Great Habits</h1>
        </div>

        <div style="gap: 525px">
            <form action="/login" method="GET">            
                <button type="sumbit">Login</button>
            </form>
            <form action="/signup" method="GET">
                <button type="sumbit">Sign Up</button>
            </form>
        </div> 
        
    </body>
</html>