<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
        <title>Habit Tracker: Log In</title>
        <style>
        * {
            margin: 0;
        }
        </style>
    </head>

    <body>
        
        <div id="header">
             <h1>Great Habits</h1>
        </div>

        <div class="form-container" style="height: 15vh">
            
            <form action="/login" method="POST">
                <div class="input-group" style="height: 5vh">
                    <label for="Username" style="padding: 3px;">Username:</label>
                    <input type="text" id="Username" name="Username" required>
                </div>
                <br>
                
                <div class="input-group" style="height: 1vh">
                    <label for="Password" style="padding: 5px;">Password:</label>
                    <input type="password" id="Password" name="Password" required>
                </div>
                <br>
                    <input type="submit" value="Log In" style="padding: 5px 15px; cursor: pointer;">
            </form>
        </div>

        <div style="justify-content: right; padding-right: 50px;">
            <form action="/">            
            <button type="submit" style="padding-inline: 50px; cursor: pointer;">Back</button>
            </form>
        </div>
    </body>
</html>
